<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743470382002-d4h24klrd8g12lsujdeqpprqr92nqdkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743470382002-d4h24klrd8g12lsujdeqpprqr92nqdkn</string>
	<key>API_KEY</key>
	<string>AIzaSyDGy-XfpqQnLQ9IzF8VDNJcKyJtXH1HT7c</string>
	<key>GCM_SENDER_ID</key>
	<string>743470382002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-movies-app-78df2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movies-app-78df2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743470382002:ios:b83b6426ca4cb312d342ab</string>
</dict>
</plist>